*{
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  justify-content: space-around;
}
.main-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
  text-align: center;
  
}

.card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: fit-content;
  height: 20vh;
  padding: 1rem;
  
}
